.swiper-button-next,
.swiper-button-prev {
    color: #D391FC !important;
}
.swiper2 {
    position:relative;
    width: 100vw;
    height: 300px;
}
.swiper2 > .swiper-slide__content {
  position:absolute;
  top:0;
}

.slide2 {
  height: 300px;
  display:flex;
  background: radial-gradient(86.67% 87.5% at 91.4% 93.51%, #BFBFBF 0%, rgba(232, 232, 232, 0.3) 100%);
  box-shadow: 4px 4px 4px rgba(179, 179, 179, 0.25);
  backdrop-filter: blur(100px);   
  align-items: center;
  justify-content:center;
  transition:all 200ms linear;
  transform: scale(0.9);
}
.swiper-slide__content {
  height: 300px;
}
  
.slide2.swiper-slide-active {  
    /* background-image: url("../images/bg-card-baru.png"); */
    background: linear-gradient(to top right, #D391FC ,#ACD8F2);
    text-align: center;
    color: #fff;
}