@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'swiper/swiper-bundle.css';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700;900&display=swap');

.card:hover button
{
    background: rgba(189, 195, 199, 0.5);
    border: 1px white solid;
}

.card:hover a
{
    color: white;
}

.card:hover
{
    -webkit-transform-style: preserve-3d;
    -webkit-transform-style: flat;
}

.member:hover span
{
    color: white;
}

.member:focus span
{
    color: white;
}

.event-btn:hover .drop-event
{
    visibility: visible;
    opacity: 1;
}

.drop-event
{
    position: absolute;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 600ms, visibility 600ms;
    transition: opacity 600ms, visibility 600ms;
}

.compe-btn:hover .drop-compe
{
    visibility: visible;
    opacity: 1;
}

.drop-compe
{
    position: absolute;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 600ms, visibility 600ms;
    transition: opacity 600ms, visibility 600ms;
}